*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background: #1f2937;
  height: 100vh;
}

#passwordApp {
  display: flex;
  justify-content: center;
}

#main {
  height: 250px;
  width: 450px;
  margin: 10% auto;
  padding-top: 30px;
  align-content: center;
}

.title {
  line-height: 40px;
  color: #f9fafb;
  font-family: Karla;
  font-weight: 800;
  font-size: 40px;
  margin-bottom: 5px;
}
.green {
  color: #10b981;
}
.title-sub {
  line-height: 28px;
  font-family: Inter;
  font-weight: 400;
  font-size: 20px;
  color: #d5d4d8;
}

#generatePass {
  margin: 30px 0;
  width: 191px;
  height: 42px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  background-color: #10b981;
  color: #ffffff;
  border: 1px solid #10b981;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
}

.output-box {
  width: 300px;
  height: 39px;
  margin: 30px 10px;
  border-radius: 6px;
  background: #273549;
  color: #10b981;
  text-align: center;
  letter-spacing: 2px;
  padding: 8px 0;
}

.option-styles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  color: #10b981;
  margin-bottom: 10px;
}

#passwordLength {
  width: 100px;
}

.options {
  border-bottom: 2px solid #10b981;
  width: 400px;
}

input[type='checkbox'].switch {
  font-size: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 3.5em;
  height: 1.5em;
  background: #2f3e53;
  border-radius: 3em;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

input[type='checkbox'].switch:checked {
  background: #10b981;
}

input[type='checkbox'].switch:after {
  position: absolute;
  content: '';
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background: #fff;
  -webkit-box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
  left: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

input[type='checkbox'].switch:checked:after {
  left: calc(100% - 1.5em);
}
